@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --genericorp-navy: #1A2E40;
  --genericorp-teal: #2BA6A6;
  --genericorp-sand: #D9CBA3;
  --genericorp-slate: #708090;
  --genericorp-coral: #FF6F61;  
  --bakerloo: #B36305;
  --central: #DC241F;
  --circle: #FFD300;
  --district: #007D33;
  --hammersmith-city: #F3A9BA;
  --jubilee: #A0A5A9;
  --metropolitan: #9B0056;
  --northern: #000000;
  --piccadilly: #003688;
  --victoria: #0098D4;
  --waterloo-city: #95CDBA;
  --bakerloo-rgb: 179, 99, 5;
  --central-rgb: 220, 36, 31;
  --circle-rgb: 255, 211, 0;
  --district-rgb: 0, 125, 51;
  --hammersmith-city-rgb: 243, 169, 186;
  --jubilee-rgb: 160, 165, 169;
  --metropolitan-rgb: 155, 0, 86;
  --northern-rgb: 0, 0, 0;
  --piccadilly-rgb: 0, 54, 136;
  --victoria-rgb: 0, 152, 212;
  --waterloo-city-rgb: 149, 205, 186;
}

/* Tube colours */

.bg-bakerloo { background-color: var(--bakerloo); }
.bg-central { background-color: var(--central); }
.bg-circle { background-color: var(--circle); }
.bg-district { background-color: var(--district); }
.bg-hammersmith-city { background-color: var(--hammersmith-city); }
.bg-jubilee { background-color: var(--jubilee); }
.bg-metropolitan { background-color: var(--metropolitan); }
.bg-northern { background-color: var(--northern); }
.bg-piccadilly { background-color: var(--piccadilly); }
.bg-victoria { background-color: var(--victoria); }
.bg-waterloo-city { background-color: var(--waterloo-city); }

.text-bakerloo { color: var(--bakerloo); }
.text-central { color: var(--central); }
.text-circle { color: var(--circle); }
.text-district { color: var(--district); }
.text-hammersmith-city { color: var(--hammersmith-city); }
.text-jubilee { color: var(--jubilee); }
.text-metropolitan { color: var(--metropolitan); }
.text-northern { color: var(--northern); }
.text-piccadilly { color: var(--piccadilly); }
.text-victoria { color: var(--victoria); }
.text-waterloo-city { color: var(--waterloo-city); }

.border-bakerloo { border-color: var(--bakerloo); }
.border-central { border-color: var(--central); }
.border-circle { border-color: var(--circle); }
.border-district { border-color: var(--district); }
.border-hammersmith-city { border-color: var(--hammersmith-city); }
.border-jubilee { border-color: var(--jubilee); }
.border-metropolitan { border-color: var(--metropolitan); }
.border-northern { border-color: var(--northern); }
.border-piccadilly { border-color: var(--piccadilly); }
.border-victoria { border-color: var(--victoria); }
.border-waterloo-city { border-color: var(--waterloo-city); }

.decoration-bakerloo { text-decoration-color: var(--bakerloo); }
.decoration-central { text-decoration-color: var(--central); }
.decoration-circle { text-decoration-color: var(--circle); }
.decoration-district { text-decoration-color: var(--district); }
.decoration-hammersmith-city { text-decoration-color: var(--hammersmith-city); }
.decoration-jubilee { text-decoration-color: var(--jubilee); }
.decoration-metropolitan { text-decoration-color: var(--metropolitan); }
.decoration-northern { text-decoration-color: var(--northern); }
.decoration-piccadilly { text-decoration-color: var(--piccadilly); }
.decoration-victoria { text-decoration-color: var(--victoria); }
.decoration-waterloo-city { text-decoration-color: var(--waterloo-city); }


@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-roboto-condensed);
  --font-mono: var(--font-space-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

/* Containers */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 
  var(--font-sans), Arial, Helvetica, sans-serif;
}

header {
  @apply flex flex-row justify-between items-center p-4 md:p-8 bg-[var(--genericorp-sand)]/20 
}

main {
  @apply font-sans
}

footer {
  @apply mt-8 md:mt-12 py-8 flex flex-row justify-around bg-[var(--genericorp-sand)]/20
}

#employee-hub {
  @apply p-8
}

#testimonials {
  @apply p-8 md:space-y-8 space-y-2 md:px-18
}

.quotes {
  @apply flex flex-col md:flex-row gap-4
}

.quote {
  @apply p-6 text-[var(--genericorp-slate)] md:text-lg bg-[var(--genericorp-sand)]/10 rounded-2xl border-1 border-[var(--genericorp-slate)]/10 shadow-[#1A2E40]/10 md:shadow-2xl shadow-md
}

#tube-page {
  @apply mx-auto p-8 md:space-y-8 md:px-24
}

/* HTML Tags */

h1 {
  @apply md:text-6xl text-4xl font-black
}

h2 {
  @apply md:text-4xl text-xl mb-4 font-semibold leading-8 md:leading-12
}

h3 {
  @apply text-neutral-900 md:text-2xl text-xl font-semibold
}

a {
  @apply font-bold
}

li {
  @apply text-[var(--genericorp-slate)] md:text-lg font-sans
}


/* Customs */

.blur-overlay {
  @apply absolute inset-0 bg-black/20 backdrop-blur-xs -z-5
}

.btn-link {
  @apply text-center rounded-md bg-[var(--genericorp-teal)]/70 text-white font-bold px-4 py-2
}

.line-overview {
  @apply grid grid-cols-2 bg-[#faf5e1] text-cyan-700 items-center md:my-0.5 my-0.25 md:text-lg;
}

.name-cell {
  @apply md:py-4 py-4 md:pl-4 pl-2;
}

#line-info p {
  @apply md:text-lg;
}

/* Animations */

.hover-fade {
  font-weight: 700;
  opacity: 0.7;
  transition: opacity 0.2s ease-in-out, color 0.22s ease-in-out;
}

.hover-fade:hover {
  opacity: 1;
}