@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --genericorp-navy: #1A2E40;
  --genericorp-teal: #2BA6A6;
  --genericorp-sand: #D9CBA3;
  --genericorp-slate: #52575d;
  --genericorp-coral: #FF6F61;  
  --bakerloo: #B36305;
  --central: #DC241F;
  --circle: #FFD300;
  --district: #007D33;
  --hammersmith-city: #F3A9BA;
  --jubilee: #A0A5A9;
  --metropolitan: #9B0056;
  --northern: #000000;
  --piccadilly: #003688;
  --victoria: #0098D4;
  --waterloo-city: #95CDBA;
  --bakerloo-rgb: 179, 99, 5;
  --central-rgb: 220, 36, 31;
  --circle-rgb: 255, 211, 0;
  --district-rgb: 0, 125, 51;
  --hammersmith-city-rgb: 243, 169, 186;
  --jubilee-rgb: 160, 165, 169;
  --metropolitan-rgb: 155, 0, 86;
  --northern-rgb: 0, 0, 0;
  --piccadilly-rgb: 0, 54, 136;
  --victoria-rgb: 0, 152, 212;
  --waterloo-city-rgb: 149, 205, 186;
}

/* Tube colours */

.bg-bakerloo { background-color: var(--bakerloo); }
.bg-central { background-color: var(--central); }
.bg-circle { background-color: var(--circle); }
.bg-district { background-color: var(--district); }
.bg-hammersmith-city { background-color: var(--hammersmith-city); }
.bg-jubilee { background-color: var(--jubilee); }
.bg-metropolitan { background-color: var(--metropolitan); }
.bg-northern { background-color: var(--northern); }
.bg-piccadilly { background-color: var(--piccadilly); }
.bg-victoria { background-color: var(--victoria); }
.bg-waterloo-city { background-color: var(--waterloo-city); }

.text-bakerloo { color: var(--bakerloo); }
.text-central { color: var(--central); }
.text-circle { color: var(--circle); }
.text-district { color: var(--district); }
.text-hammersmith-city { color: var(--hammersmith-city); }
.text-jubilee { color: var(--jubilee); }
.text-metropolitan { color: var(--metropolitan); }
.text-northern { color: var(--northern); }
.text-piccadilly { color: var(--piccadilly); }
.text-victoria { color: var(--victoria); }
.text-waterloo-city { color: var(--waterloo-city); }

.border-bakerloo { border-color: var(--bakerloo); }
.border-central { border-color: var(--central); }
.border-circle { border-color: var(--circle); }
.border-district { border-color: var(--district); }
.border-hammersmith-city { border-color: var(--hammersmith-city); }
.border-jubilee { border-color: var(--jubilee); }
.border-metropolitan { border-color: var(--metropolitan); }
.border-northern { border-color: var(--northern); }
.border-piccadilly { border-color: var(--piccadilly); }
.border-victoria { border-color: var(--victoria); }
.border-waterloo-city { border-color: var(--waterloo-city); }

.decoration-bakerloo { text-decoration-color: var(--bakerloo); }
.decoration-central { text-decoration-color: var(--central); }
.decoration-circle { text-decoration-color: var(--circle); }
.decoration-district { text-decoration-color: var(--district); }
.decoration-hammersmith-city { text-decoration-color: var(--hammersmith-city); }
.decoration-jubilee { text-decoration-color: var(--jubilee); }
.decoration-metropolitan { text-decoration-color: var(--metropolitan); }
.decoration-northern { text-decoration-color: var(--northern); }
.decoration-piccadilly { text-decoration-color: var(--piccadilly); }
.decoration-victoria { text-decoration-color: var(--victoria); }
.decoration-waterloo-city { text-decoration-color: var(--waterloo-city); }

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-roboto-condensed);
  --font-mono: var(--font-space-mono);
}

/* Containers */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 
  var(--font-sans), Arial, Helvetica, sans-serif;
}

header {
  @apply flex flex-row justify-between items-center p-4 md:p-8 bg-[var(--genericorp-sand)]/20 
}

main {
  @apply font-sans
}

footer {
  @apply mt-8 md:mt-12 py-8 flex flex-row justify-around bg-[var(--genericorp-sand)]/20
}

#social-links {
  @apply flex flex-col md:flex-row gap-2 md:gap-4 text-left
}

#hero {
  @apply relative h-[60vh] md:h-128 w-full overflow-hidden py-16 px-8 md:px-24
}

#hero-text {
  @apply relative flex z-10 h-full items-center justify-center text-center
}

#employee-hub {
  @apply p-8
}

#testimonials, #newsletter {
  @apply px-8 md:px-18 pb-12
}

#newsletter-form {
  @apply flex flex-col p-6 md:px-24 text-[var(--genericorp-slate)] md:text-lg bg-[var(--genericorp-sand)]/10 rounded-2xl border-1 border-[var(--genericorp-slate)]/10 shadow-[#1A2E40]/10 md:shadow-2xl shadow-md
}

.input-field-container {
  @apply flex flex-col mb-2 md:mb-4 md:grid;
  grid-template-columns: 100px 1fr;
}

label {
  @apply font-bold text-[var(--genericorp-slate)] mb-1
}

input {
  @apply border-1 border-[var(--genericorp-slate)]/30 rounded-md px-2 mb-2
}

#form-buttons-container {
  @apply flex flex-row justify-around mt-4
}

#newsletter-reset-btn {
  @apply text-center rounded-md bg-[var(--genericorp-slate)]/70 text-white font-bold px-8 py-2 hover:bg-[var(--genericorp-slate)]/90 duration-200
}

#newsletter-submit-btn {
  @apply text-center rounded-md bg-[var(--genericorp-teal)]/70 text-white font-bold px-8 py-2 hover:bg-[var(--genericorp-teal)]/90 duration-200
}

#success-message {
  @apply text-left space-y-2 p-6 text-[var(--genericorp-slate)] md:text-lg bg-[var(--genericorp-sand)]/10 rounded-2xl border-1 border-[var(--genericorp-slate)]/10 shadow-[#1A2E40]/10 md:shadow-2xl shadow-md
}
#success-message > p {
  @apply text-lg text-[var(--genericorp-slate)]
}

.quotes {
  @apply flex flex-col md:flex-row gap-4
}

.quote {
  @apply p-6 text-[var(--genericorp-slate)] md:text-lg bg-[var(--genericorp-sand)]/10 rounded-2xl border-1 border-[var(--genericorp-slate)]/10 shadow-[#1A2E40]/10 md:shadow-2xl shadow-md
}

#tube-lines {
  @apply shadow-[#1A2E40]/10 md:shadow-2xl shadow-xl
}

#tube-page {
  @apply mx-auto p-8 md:space-y-8 md:px-24
}

#tube-updates {
  @apply flex flex-row gap-2 md:gap-4 items-center font-medium md:text-lg text-[var(--genericorp-slate)] mb-2 md:mb-4
}

#not-a-line {
  @apply p-8 md:px-32 mt-8 md:my-24 
}

#line-info {
  @apply mx-auto w-[80%] mt-8 md:my-24 p-8 md:p-16 rounded-2xl border-1 border-[var(--genericorp-slate)]/10 shadow-[#1A2E40]/10 md:shadow-2xl shadow-md
}

#line-info-header {
  @apply flex flex-row justify-between items-center mb-3
}

#line-info p {
  @apply md:text-lg;
}

#disruption-info {
  @apply mb-6
}

#disruption-info p {
  @apply md:text-lg text-[var(--genericorp-slate)] mb-1
}

#not-found {
  @apply flex flex-col items-center justify-center h-screen text-center text-[var(--genericorp-slate)]
}

/* HTML Tags */

h1 {
  @apply md:text-6xl text-4xl font-black
}

h2 {
  @apply md:text-4xl text-2xl font-semibold leading-8 md:leading-12
}

h3 {
  @apply md:text-2xl text-xl font-semibold
}

a {
  @apply font-bold
}

li {
  @apply text-[var(--genericorp-slate)] md:text-lg font-sans
}

/* Customs */

.blur-overlay {
  @apply absolute inset-0 bg-black/20 backdrop-blur-xs -z-5
}

.btn-link {
  @apply text-center rounded-md bg-[var(--genericorp-teal)]/70 text-white font-bold px-4 py-2 my-4 md:my-8 hover:bg-[var(--genericorp-teal)]/90 duration-200
}

.line-overview {
  @apply grid grid-cols-2 bg-[#faf5e1] text-cyan-700 items-center md:my-0.5 my-0.25 md:text-lg;
}

.name-cell {
  @apply md:py-4 py-4 md:pl-4 pl-2;
}


/* Animations */

.hover-fade {
  font-weight: 700;
  opacity: 0.7;
  transition: opacity 0.2s ease-in-out, color 0.22s ease-in-out;
}

.hover-fade:hover {
  opacity: 1;
}